*{
    margin: 0;
}
.container{
    position: relative;
    width: 900px;
    margin: 50px auto;
    background-color: rgb(246, 249, 252);
    border: solid 1px black;
}
.blur{
    position: relative;
    /* filter: blur(0.15em); */
}
.blur div{
    padding: 3px;
}
.todo-h2{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(54, 54, 54);
}
.todo-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
}
.todo-header button, .todo-form button, .list-button button{
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border: black;
    width: 200px;
    height: 50px; 
    cursor: pointer;
}
.todo-header button:hover, .todo-form button:hover, .list-button button:hover{
    background-color: rgb(29, 29, 29);
}
.todo-header button:active, .todo-form button:active, .list-button button:active{
    background-color: rgb(246, 249, 252);
    color: black;
    outline: none;
}
.todo-header button:focus, .todo-form button:focus, .list-button button:focus{
    outline: none;
}
.todo-header h3{
    font: 600 13.3333px Arial;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    text-align: center;
    padding: 12px 20px;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
}
.todo-list p{
    margin: 10px;
}
.todo-list pre{
    font: 600 10px Arial;
    font-size: 1rem;
}
.todo-list{
    width: 400px;
    height: 200px;
    background-color: rgb(246, 249, 252);
    border: solid 1px rgb(192, 192, 192);
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(139, 139, 139);
    margin: 20px auto;
    font: 600 10px Arial;
    font-size: 1rem;
    padding: 0px;
    position: relative;
    word-wrap: break-word;
}
.list-button{
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}
.todo-form{
    width: 500px;
    height: 500px;
    background:rgb(246, 249, 252);
    border-radius: 5px;
    box-shadow: 0px 0px 3px 5px rgb(39, 39, 39);
    position: absolute;
    top: 150px;
    left: 200px;
    text-align: center;
    display: none;
}
.todo-form p{
    font: 600 14px Arial;
    font-size: 1.3rem;
    color: white;
    background-color: rgb(54, 54, 54);
    padding: 10px;
}
.todo-form span, .todo-form input{
    font: 600 10px Arial;
    font-size: 1rem;
    margin: 20px 5px 0px;
}
.todo-form textarea{
    width: 400px;
    height: 300px;
    margin: 20px 0 2px;
    font: 600 10px Arial;
    font-size: 1rem;
    padding: 5px;
    resize: none;
}
.todo-form button, .list-button button{
    display: inline-block;
    cursor: pointer;
    font: 600 13px Arial;
    height: 40px;
    width: 100px;
}
